/* General Styling */

body {
font-family:'Arial', sans-serif;
background-color: rgb(211, 180, 143);
margin:0;
padding:160px

}

.resume-container{
display: flex;
background-color: rgb(179, 176, 164);
width:100%;
margin: 0 auto;
border: radius 13px;
box-shadow: 0 0 20px

}

.left-section{

color:rgb(10, 10, 9);
padding:30px;
width:40%;
text-align: center;
border-right: 6px sienna;

}
 
.profile-picture{
width: 140;
height: 60px;
border-radius: 50%;
border: 5px rgb(15, 19, 12);
margin-bottom: 20px;
} 

h1{
font-size: 25px;
margin: 10px 0;
margin-bottom: 30px;
text-align: center;
}

h3{
font-size: 18p;
padding:2%;
margin:20px 0 10px;
color:rgb(15, 14, 14);
border-radius: 10px;
box-shadow: 0 0 15px rgb(58, 85, 14);
margin-top:5%;
margin-bottom:5%;
}


ul{
list-style-type: fill round;
padding:10;
margin:10px 0;
}

ul li{
    margin: 5px o;
}


.right-section{
padding: 20px;
width: 70%;
}


button{

font-family: Arial, sans-serif;
border-radius:12px;
box-shadow: 0 0 15px black;
cursor:pointer;
margin-top:10px;
font-size:20px;
}

button:hover{

background-color: brown;

}






